<div class = "card" >
    <div class = "card-header" >
        <h2>login</h2>
    </div>
    <form class = "card-body"> 
        <div>
            <label >username</label>
            <input type="text">
            <label >password</label>
            <input type="password">
        </div>
        <button type="submit" class="btn">login</button>
        <a href="/signup">signup</a>
    </form>
</div>

<script src="js/login.js"></script>
